<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a todo item</title>
</head>
<body>
    <main>

        <h1>Add an Item:</h1>
        <form method="POST" action="add">
            {% csrf_token %} <!-- this must be added to forms so django can verify that the data comes from our server!!!-->
            {{ form.as_p }}
            <div>
                <p>
                    <button type="submit">Add Item</button>
                </p>
            </div>
        </form>
        
    </main>
</body>
</html>